# 台股小百科
app_config = "mysql+pymysql://帳號:密碼@你的IP:你的PORT/你設定的資料庫名稱"
# Example: app_config = "mysql+pymysql://account123:password123@127.0.0.1:3306/linebot_stock"
line_bot_api = 'LINE Developers 裡的 Channel access token'
handler = 'LINE Messaging API 設定裡的 Channel secret'
port = 8888 # 你ngrok要設定的port