{% extends "base.html" %}

{% block title %}金秘書-營業項目{% endblock %}


{% block main %}
<div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <div class="mt-5">
                <form action="upstream_downstream" method="post" id="edit_upstream_downstream">
                    
                    <div class="form-group mb-2 w-25">
                        <div class="input-group">
                            <input list="companies" class="form-control" id="search" type="text" name="keyword" placeholder="搜尋產業" value="{{ request.form['keyword'] }}">
                            <datalist id="companies">
                            </datalist>
                            <input type="submit" class="btn btn-primary" value="查詢" form="edit_upstream_downstream">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 6.5rem!important;">
                        <table data-toggle="table" data-sort-class="table-active">
                            <thead>
                                <tr>
                                    <th data-field="id">上游</th>
                                    <th data-sortable="true">產業</th>
                                    <th>下游</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for search_row in search_result %}
                                <tr>
                                    <td>
                                        <select class="form-select" aria-label="upstream 1 select option" name="{{ search_row.id }}_upstream">
                                            {% if search_row.upstream is none or search_row.upstream == '' %}
                                            <option selected value=""></option>
                                                {% for all_row in business_code_all %}
                                                <option value="{{ search_row.id }}-upstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                {% endfor %}
                                            {% else %}
                                                {% for all_row in business_code_all %}
                                                    {% if search_row.upstream == all_row.code %}
                                                    <option selected value="{{ search_row.id }}-upstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                    {% endif %}
                                                    <option value="{{ search_row.id }}-upstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                    <td>{{ search_row.name_ch }}</td>
                                    <td>
                                        <select class="form-select" aria-label="downstream 1 select option" name="{{ search_row.id }}_downstream">
                                            {% if search_row.downstream is none or search_row.downstream == '' %}
                                            <option selected value=""></option>
                                                {% for all_row in business_code_all %}
                                                <option value="{{ search_row.id }}-downstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                {% endfor %}
                                            {% else %}
                                                {% for all_row in business_code_all %}
                                                    {% if search_row.downstream == all_row.code %}
                                                    <option selected value="{{ search_row.id }}-downstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                    {% endif %}
                                                    <option value="{{ search_row.id }}-downstream-{{ all_row.code }}">{{ all_row.name_ch }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    
                </form>
            </div>        
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="mt-5 float-end">
                <input type="submit" class="btn btn-primary btn-lg" value="儲存" form="edit_upstream_downstream">
            </div>
        </div>
    </div>
</div>
{% endblock%}


{% block script %}
<script>
    $.extend($.fn.bootstrapTable.defaults.icons, {
        clearSearch: 'fa fa-undo'
    });
    $("select option:selected").css('backgroundColor', 'tomato');
</script>

<style type="css">
    /* select option[selected]{
        background-color: red
    } */
</style>
{% endblock %}